#modal{
    position: fixed;
    inset: 0;

    background-color: var(--overlay-alpha-80);

    z-index: 10;
}

.modal__close{
    position: absolute;

    right: 5rem;
    top: 5rem;

    cursor: pointer;
    color: #fff;
}

.modal__close img{
    width: 18px;
    aspect-ratio: 1;
}

#modal .dyn_container{
    position: relative;

    top: 50%;
    transform: translateY(-50%);

    min-height: 50vh;
}

.modal__header{
    border-bottom: 1px solid rgb(var(--ig-elevated-separator));
}

.modal__header h4{
    text-align: center;
}

.modal__body{
    background-color: #fff;
    border-radius: var(--modal-border-radius);
}

.modal__body > *{
    padding: 1rem;
}

.modal__content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 1rem;
}