textarea{
    outline: none;
    background: none;
    border: none;
    color: rgb(var(--ig-primary-text));

    resize: none;

    width: 100%;
    min-height: 30vh;
    max-height: 50vh;
    padding: .75rem 2rem;
}

textarea::-webkit-scrollbar {
    width: 0;
}

/*textarea + .caretHelper{*/
/*    !*content: attr(data-caret-helper-text);*!*/
/*    !*content: '111111111111';*!*/

/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    z-index: 10;*/

/*    width: 3rem;*/
/*    height: 3rem;*/

/*    background-color: #333333;*/
/*}*/

/*textarea{*/
/*    position: relative;*/
/*}*/

/*.caretHelper {*/
/*    position: absolute;*/
/*    top: 1rem;*/
/*    left: 1rem;*/
/*    width: 4rem;*/
/*    display: none;*/
/*    z-index: 9999;*/
/*    background: black;*/
/*    color: white;*/
/*    border-radius: 0.25rem;*/
/*    padding: 0.4rem;*/
/*    font-size: 0.8rem;*/
/*    text-align: center;*/
/*    text-transform: uppercase;*/
/*    font-weight: 700;*/
/*}*/

/*.caretHelper::after {*/
/*    content: " ";*/
/*    position: absolute;*/
/*    top: 100%;*/
/*    left: 50%;*/
/*    margin-left: -5px;*/
/*    border-width: 5px;*/
/*    border-style: solid;*/
/*    border-color: black transparent transparent transparent;*/
/*}*/