*{
    box-sizing: border-box;
    font-family: var(--font-family-system);
}

.App{
    display: flex;
    flex-direction: column;

    height: 100vh;
}

:is(h1, h2, h3, h4, h5, h6, p){
    margin: 0;
    padding: 0;
}

.dyn_container{
    width: 50%;
    margin: 0 auto;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 2rem;
}

abbr{
    text-decoration: none;
}

main{
    height: 100%;
    flex-grow: 1;

    background-color: rgb(var(--ig-secondary-background));
}

button, input, textarea{
    font-family: var(--font-family-system);
}

@media screen and (max-width: 768px) {
    .dyn_container{
        width: 75%;
    }
}