#textPart{
    width: 45%;

    font-size: 14px;

    padding: 1rem;
}

.resultPrefix{
    font-weight: var(--font-weight-system-semibold);
}


@media screen and (max-width: 768px) {
    #textPart{
        width: 100%;
    }
}