#banner {
    height: 100%;

    background: url('../../static/img/banner-bg.jpg') no-repeat center / cover;

    position: relative;

    color: #fff;
}

.banner__bgFilter .container{
    width: 100%;
}

.banner__info > * {
    margin-bottom: 1rem;
}

.banner__info img{
    width: 16px;
    margin: 0 .5rem;

    background-color: #fff;
    border-radius: 100%;
}

.banner__helper {
    font-size: 150%;
    text-align: center;
}

.banner__helper span {
    font-weight: 900;
}

.banner__bgFilter {
    position: absolute;
    inset: 0;

    max-width: unset;

    display: grid;
    place-items: center;

    backdrop-filter: brightness(.35);
}


.banner__about {
    display: flex;
    place-items: center;

    text-decoration: none;

    padding: .5rem 1rem;

    border-radius: 3px;

    background-color: rgb(var(--ig-primary-button));
    color: rgb(var(--web-always-white));
}