#resultPage{
    margin: 1rem 0;
}

#resultPage h1{
    padding: 1rem 0;
}

#resultPage .window{
    background-color: rgb(var(--ig-primary-background));
    border: 1px solid rgb(var(--ig-elevated-separator));
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.resultInfo a {
    display: inline-block;
    font-weight: var(--font-weight-system-semibold);
    font-size: var(--system-12-font-size);
    line-height: var(--system-12-line-height);
    font-family: var(--font-family-system);
    color: rgb(var(--ig-primary-button));
    text-decoration: none;
    margin: 1rem 0;
}

.resultInfo a + a{
    margin-left: 1rem;
}

@media screen and (max-width: 768px) {
    #resultPage{
        flex-direction: column;
    }
    #resultPage .window{
        flex-direction: column;
    }
    #textPart{
        padding: 2rem 1rem;
        border-top: 1px solid rgb(var(--ig-elevated-separator));
    }
}